.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  font-family: sans-serif;
  background-color: #fafafa;
}

.page-header {
  padding-top: 40px;
  padding-bottom: 40px;
  box-shadow: 0px 5px 5px 0px #cccccc;
}

.menu {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

.menu-link {
  color: #111111;
  transition: color 250ms ease-in-out;
}

.menu-link:hover,
.menu-link:focus {
  color: #fd9222;
}
/* -------------------------- */
.contact-form {
  width: 500px;
  min-height: 200px;
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 10px 10px 0 #cccccc;
}

.contact-form-field-label {
  display: block;
  font-size: 12px;
  line-height: 1.2;
  margin-bottom: 6px;
}

.required-color {
  color: tomato;
}

.contact-form-input {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  padding-left: 20px;
  border: 1px solid #303030;
}

.contact-form-fieldset {
  margin-bottom: 20px;
}

.contact-form-message {
  width: 100%;
  height: 100px;
  padding: 15px;
  margin-bottom: 20px;
  /* щоб не можна було розтягувати textarea */
  resize: none;
}

.contact-form-btn-wrapper {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.contact-form-btn {
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: #ffffff;
}

.contact-form-btn-submit {
  background-color: #3498db;
}

.contact-form-btn-reset {
  background-color: #e74c3c;
}

.contact-from-fieldset-label {
  margin-bottom: 10px;
}
